
/************** RESET **************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************** PROPRIETÀ CONDIVISE **************/

.boxed {
    max-width: 1600px;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border {
    border: 2px dashed black;
}


/************** HEADER **************/
/* MENÙ */

#bg-menù {
    min-height: 6.75em;
    background-color: #ADD8E6 ;
}

#container-menù {
    min-height: 4em;
    padding: 1em;
    width: 100em;
    background-color: orange;
}

/* BANNER HEADER*/

#bg-banner-header {
    min-height: 41em;
    background-color: #0000ff;
}

#container-banner-header {
    min-height: 33em;
    width: 75em;
    background-color: #EE82EE;
}


/************** MAIN **************/
/* PROPRIETÀ CONDIVISE BANNER */

.container-banner {
    min-height: 41em;
    width: 100%;
}

.container-banner-big {
    min-height: 83em;
    width: 100%;
}

.bg-white {
    min-height: 50em;
    background-color: #ffffff;
}

.bg-gray {
    background-color: #D3D3D3;
    min-height: 50em;
}

.blue {
    background-color: #1E90FF;
    min-height: 41em;
    width: calc(100% / 3 * 2);
}

.pink {
    background-color: #EE82EE;
    min-height: 41em;
    width: calc(100% / 3);
}

.bg-white {
    min-height: 50em;
    background-color: #ffffff;
}

.blue {
    background-color: #1E90FF;
    min-height: 41em;
    width: calc(100% / 3 * 2);
}

.pink {
    background-color: #EE82EE;
    min-height: 41em;
    width: calc(100% / 3);
}

.green {
    background-color: #228B22;
    min-height: 75em;
    width: 100%;
}


/************** FOOTER **************/
/* PROPRIETÀ CONDIVISE FOOTER */

.container-footer {
    min-height: 50em;
    width: 100%;
}

.bg-black {
    background-color: #23272A;
    min-height: 50em;
}

.aquamarine {
    background-color: #20B2AA;
    min-height: 48em;
    width: calc(100% / 3 * 2);
}

.red {
    background-color: #F08080;
    min-height: 48em;
    width: calc(100% / 3);
}

.border-white {
    border: 2px dashed rgb(255, 255, 255);
}

hr {
    color: white;
}

/* FOOTER ID */

#bg-black-footer {
    min-height: 6.75em;
    background-color: #23272A;
}

#container-menù-footer {
    min-height: 4em;
    width: 100em;
    background-color: #7FFFD4;
}

.footer-text {
    padding: 0.5em;
    background-color: #F08080;
}