
/************** RESET **************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************** PROPRIETÀ CONDIVISE **************/

.boxed {
    max-width: 1600px;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border {
    border: 2px dashed black;
}

.container-banner {
    min-height: 41em;
    width: 100%;
}

/************** HEADER **************/
/* MENÙ */

#bg-menù {
    min-height: 6.75em;
    background-color: #ADD8E6 ;
}

#container-menù {
    min-height: 4em;
    padding: 1em;
    width: 100em;
    background-color: orange;
}

/* BANNER HEADER*/

#bg-banner-header {
    min-height: 41em;
    background-color: #0000ff;
}

#container-banner-header {
    min-height: 33em;
    width: 75em;
    background-color: #EE82EE;
}


/************** MAIN **************/
/* PROPRIETÀ CONDIVISE BANNER */

.bg-white {
    min-height: 50em;
    background-color: #ffffff;
}

.bg-gray {
    background-color: #D3D3D3;
    min-height: 50em;
}

.blue {
    background-color: #1E90FF;
    min-height: 41em;
    width: calc(100% / 3 * 2);
}

.pink {
    background-color: #EE82EE;
    min-height: 41em;
    width: calc(100% / 3);
}

.bg-white {
    min-height: 50em;
    background-color: #ffffff;
}

.blue {
    background-color: #1E90FF;
    min-height: 41em;
    width: calc(100% / 3 * 2);
}

.pink {
    background-color: #EE82EE;
    min-height: 41em;
    width: calc(100% / 3);
}